*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
}
h1{
    text-align: center;
   

}
.navbar h1{
    color: white;
}
[class*="col-"]{
    float: left;
    padding: 10px;
    width: 100%;
}

[class*="col-"]{
   
}

.nav-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white; 
    padding: 10px; 
}
p{   
    font-size: 1rem;
    text-align: justify;
}
h2{
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}
/* navbar start */
.navbar{
    background-color: #40868b;
    text-align: center;
    padding: 5px;
}

.nav-menu a{
    background-color:cadetblue ;
    border-radius: 10px;
    margin: 7px;
    padding: 10px;
}
.nav-menu a:hover{
    background-color: gray;
}
.navbar::after{
    content: '';
    display: table;
    clear: both;
}
/* navbar end */

/* main section start */
.main-section{
    padding: 130px 10px;
     text-align: center; 
     position: relative;
}
.main-section .top-img{
     position: absolute;
     right: 60px;
     top: 20px;
     transition: transform 2s;
      
} 
.main-section .top-img:hover{
   transform: rotate(360deg);
} 

.main-body h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.main-body p{
    color: grey;
    text-align: center;
    width: 90%;
}

.main-section .bottom-img{
    position: absolute;
    left: 60px;
    bottom: 10px;
    transition: transform 2s;
     
} 
.main-section .bottom-img:hover{
    transform: rotate(360deg);
 } 


/* main section end */

/* about me section start */
.about-me{
    background-color: cornflowerblue;
    padding: 1% 7%;
    color: white;
    text-align: center;
}

.about-me::after{
    display: table;
    clear: both;
    content: '';
}
.dotter-hr{
    border: dotted 6px white;
    border-bottom: none;
    width: 70px;
    margin: 20px auto;
}
.aboutme-img img{
    border: 5px solid white;
    border-radius: 50%;
    height: 220px;
    width: 200px;
}

.about-me p{
    text-align: center;
}
.btn{
    background-color: slategray;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}
/* about me section end */